.navbar {
    display: flex;
    align-items: center;
    padding: 20px;
}

body {
    /*Want to change background image?*/
    /*Upload a new one to the img folder.*/
    /*Make sure you name it 'minecraft.jpg'*/
    /* background: linear-gradient(rgba(20, 26, 35, 0.178), rgba(20, 26, 35, 0.55)),
        url("../img/minecraft.jpg") no-repeat center center fixed;
    background-size: cover; */
    /* font-family: "Open Sans", Helvetica; */
    margin: 0;
    position: relative;
}


nav {
    flex: 1;
    text-align: right;
    font-family: "Arial Rounded MT Bold";
}

nav ul {
    display: inline-block;
    list-style-type: none;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

nav ul li img {
    padding-top: 10px;
    margin-bottom: -6px;
    margin-left: 15px;
}

a {
    text-decoration: none;
    color: #555;
}

p {
    color: white;
}

.container {
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.col-2 {
    flex-basis: 50%;
    min-width: 300px;
    font-family: "Arial Rounded MT Bold";
}

.col-2 img {
    max-width: 100%;
    padding: 50px 0;
}

.col-2 h1 {
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
    font-family: "Arial Rounded MT Bold";
}

.btn {
    display: inline-block;
    background: #ff523b;
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 7px;
    font-family: "Arial Rounded MT Bold";
}

.header {
    background-color: darkgrey;
}

iframe {
    margin: auto;
    padding: 8px 0px;
}

#announcementsList li {
    list-style-type: none;
    margin: 0;
    padding: 25px 0;
}

#header {
    color: #fff;
    padding: 250px 0px;
    /* background-position: center;
    background-size: cover;
    background-repeat: no-repeat; */
    background: linear-gradient(rgba(20, 26, 35, 0.178), rgba(20, 26, 35, 0.55)),
        url("../img/minecraft.jpg") no-repeat center ;
    background-size: cover;
}

/* */
#navbar {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    background-color: rgba(9, 4, 0, 0.46);
    margin-bottom: -120px;
    padding: 0px 40px;
    padding-right: 5px;
    height: 120px;
    z-index: 4;
    position: relative;
    transition: all 0.75s;
}

#menu {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-left: auto;
}

#annouceLink {
    color: white;
}

.font-title{
    font-family: 'Montserrat', sans-serif;
}

.font-text{
    font-family: 'Fredoka', sans-serif;
}

#header-title{
    font-family: 'Montserrat', sans-serif;
}

#header-subtitle{
    font-family: 'Montserrat', sans-serif;
}

.pagination {
    padding: 0px 0;
    justify-content: center;
    display: flex;
    flex-direction: row;
}

#pagination-container {
    padding: 0 20px;
}

.row {
    padding: 20px 0;
}

.card1 {
    border-radius: 30px;
    /* border: 10px; */
    margin: 10px 0;
    background: linear-gradient(rgba(20, 26, 35, 0.767), rgba(20, 26, 35, 0.55)), url("../img/cardbg1.jfif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    font-family: "Roboto", sans-serif;
    text-align: center;
    color: black;
    font-size: larger;
    font-weight: 900;
    word-wrap: break-word;
    padding: 30px 30px;
}

.card2 {
    border-radius: 40px;
    border: 3px solid rgb(218, 217, 217);
    font-family: "Roboto", sans-serif;
    text-align: center;
    color: black;
    font-size: larger;
    font-weight: 900;
    word-wrap: break-word;
    padding: 10px 10px;
    margin: 20px 0px;
}

#page-selector {
    font-weight: 600;
    text-decoration: none;
    text-align: center;
    padding: 12.5px 20px;
    margin-left: auto;
    margin-top: auto;
    white-space: nowrap;
}

.pageNum {
    color: black ;
    font-family: 'Montserrat', sans-serif;
    font-size: 43px;
}

.pageSwitch {
    color: grey;
    font-size: 43px;
}

.page-link {
    margin-right: auto;
    padding: 20px 20px;
    color: black;
    border-radius: 80px;
    border: 2px solid darkgray;
    background-color: #f5f5f5;
}

.page-item {
    margin: 10px 10px;
    font-family: 'Montserrat', sans-serif;
}

.nav-link {
    color: white;
}

.nav-link:hover {
    color: white;
}

.nav-link:focus {
    color: white;
}


.activePage {
    background-color: white;
}

.modal-body{
    font-size: 23px;
}

.modal-title{
    font-size: 33px;
}

.modalbtn:hover {
    cursor: pointer;
}

.hide {
    display: none;
}

.author {
    color: white;
    font-size: 33px;
    font-family: 'Montserrat', sans-serif;
    word-wrap: normal;
}

.summary {
    color: white;
    font-family: 'Fredoka', sans-serif;
    font-size: 23px;
    /* color: black; */
    /* font-size: 20px; */
}

.darkmodeBG {
    background-color: black;
}

.paginationBG{
    background-color: #11100f;
}

.pageLinkBG{
    background-color: black;
    color: #c5c3c0;
    border: 3px solid #494643;
}

.pageLinkBG:focus{
    background-color: black;
    color: #c5c3c0;
    border: 3px solid #494643;
}

.pageNumText{
    color: #c5c3c0;
}


.borderC{
    border: 3px solid #494643;
}

.pageLinkBG:hover{
    background-color: black;
    color: #f5f5f5;
}

@media only screen and (max-width: 992px) {
    .pagination {}
}

@media only screen and (max-width: 786px) {
    .pagination {
        flex-direction: column;
        text-align: center;
    }
    li#page-selector.page-item{
        margin-left: auto;
        margin-right: auto;
    }
}

@media only screen and (max-width: 455px) {
    .nav-link{
        display: none;
    }
    .navbar>.container-fluid{
        margin-left: auto;
        margin-right: auto;
        width: auto;
    }
}

@media only screen and (max-width: 390px) {
    .author {
        font-size: 20px;
    }
    .pageNum{
        font-size: 23px;
    }
    .pageSwitch{
        font-size: 23px;
    }

}