<div class="container">
    <section id="navbar">


        <nav class="navbar navbar-expand">
            <div class="container-fluid">
                <a class="navbar-brand" href="/"><img id="navLogo" src="img/logo.png" alt="Highlands Logo"></a>
                <h1 id="header-title">
                <span style="color: white;">For Staff and Developers</span>
            </h1>
                <div id="menu">
                    {{!-- <a class="nav-link" aria-current="page" href="/announcements"><i
                            class="fa-solid fa-scroll fa-2xl"></i></a>
                    <a class="nav-link" href="https://discord.gg/banishedmc"><i
                            class="fa-brands fa-discord fa-2xl"></i></a> --}}
                    <div class="dropdown">
                        <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fa-solid fa-bars fa-2xl"></i>
                        </a>

                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <li><a class="dropdown-item" href="announcements"><i
                                        class="fa-solid fa-scroll fa-2xl"></i></a></li>
                            <li><a class="dropdown-item" href="https://discord.gg/banishedmc"><i
                                        class="fa-brands fa-discord fa-2xl"></i></a></li>
                            <li><a class="dropdown-item" href="login">Login</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>




    </section>
    <!-- Navbar overlay -->
    <section id="header"
        style="background-image: linear-gradient(to top, rgba(255, 255, 255, 0.267), rgba(0,0,0,0.10));">
        <div id="inner-header" class="text-center">
            <h1 id="header-title">
                <span>Staff and Developer Page</span>
            </h1>
            <h5 id="header-subtitle" class="">The following link is for the Staff of BanishedMC</h5>
            <a href="login"><button type="button" class="btn btn-outline-primary">Login</button></a>
        </div>

        {{!-- <footer class="footer">
        </footer> --}}
</div>